PROJECT_NAME="Gliro API"
API_V1_STR=/api/v1
DATABASE_URL=sqlite:///./gliro.db
HOST=127.0.0.1
PORT=8001

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=v.amigo@gliro.cl
SMTP_PASSWORD=
SMTP_TLS=true
SMTP_SSL=false

NOTIFICATION_EMAIL_TO=v.amigo@gliro.cl
SMTP_FROM_EMAIL=v.amigo@gliro.cl
SMTP_FROM_NAME="Gliro Notificaciones"
